h2:hover{
    background-color: red;
    color: yellow;
    font-size: 40px;
    padding: 30px;
    text-align: center;
}
input{
    padding: 5px;
    margin: 4px;
    display: block;
}
.pointer:focus{
    background-color: rgb(0, 0, 0);
    color: red;
    font-size: 20px;
}
a:visited{
    color: red;
}
li{
    font-size: 30px;
    color: #ffff;
    list-style: none;
}
li:first-child{
    color: red;
}
li:last-child{
    color: green;
}
li:nth-child(2n+1){
    background-color: blue;
}
li:nth-child(2n){
    background-color: brown;
}

h3::before{
    content: 'Hello ';
}
h3::after{
    content: ' Gello';
}
.special::after{
    background-color: red;
}