nav > ul{
    display: flex;
    float: right;
}
nav li{
    list-style: none;
    margin-right: 15px;
    padding: 10px 10px;
  
}

nav li:hover{
    background-color: rgb(177, 173, 161);
}

nav li a{
    text-decoration: none;
    
}

/* nested dropdown */

nav li .dropdown{
    display: none;
    position: absolute;
    background-color: yellowgreen;
    padding: 20px;
    
}
 
nav li:hover > .dropdown{
    display: block;
}